div{
    margin-top: 10%;
}
#txt{
    color:blue;
    font-size: 25px;
    
}
button{
    font-size: 25px;
    background: rgb(84, 189, 129);
}
#food{
    margin:3%;
    font-size: 20px;
    color:rgb(155, 25, 202);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-decoration-color: crimson;
}
h1{
    color:darkblue;
}
h3{
    color:rgb(210, 27, 140);
    margin-right:3%;
}